* {
  box-sizing: border-box;
}
.container, .left, .middle, .right {
  background: #fff;
  border: 1px solid #999;
  padding: 20px;
}
.container{
  background: #eee;
  margin: 20px;
  min-width: 600px;
  overflow: auto;
}
.left{
  float: left;
  width: 200px;
}
.team_logo{
  height: 80px;
  width: 80px;
  float: left;
}
.team_name{
  width: 180px;
  font-weight: bold;
  text-align: center;
}
.middle{
  margin-left: 220px;
  margin-right: 140px;
}
.right{
  width: 120px;
  float: right;
}
.logo{
  height: 80px;
  width: 80px;
  display: block;
  margin-bottom: 20px;
}
.last_logo{
  height: 80px;
  width: 80px;
  display: block;
  margin-bottom: 0;
}